//
// Scaffolding
// --------------------------------------------------

// sets base font-sizing on html element
@include typi-init;

html {
  box-sizing: border-box;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: $color-content;

  // fallback font for initial render to avoid FOIT
  font-family: $font-family-base-fallback;

  // fonts-loaded flag, triggered by JS (fontfaceobserver)
  .wf-active & {
    font-family: $font-family-base;
  }

  // DEMO ONLY
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-content-ci;
  color: $color-white;
}

html {
  height: 100%;
}

::selection {
  background: $color-green-muted;
  color: $color-white;
}
