//
// General settings
// --------------------------------------------------

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 1025px,
  'lg': 1200px,
  'xl': 1400px
);

// Transition timing
$transition-time-default: .2s;
$transition-time-medium: .5s;
$transition-time-long: .8s;

// z-index indexes
$z-index: hero, content-minor, content, main, footer, topbar, menu;

// Sizes
$sidePadding: 40px;

$bulletbox-width: 214px;
$bulletbox-width-sm: 260px;

$box-default-spacing: 20px;
$box-default-spacing-md: 80px;
$box-default-spacing-xl: 120px;

$hero-height: 450px;
$hero-height-md: 800px;

$container-gutter: 20px;
$container-width-default: 1500px;
$container-width-medium: 1200px;
$container-width-narrow: 1200px;
