//
// General settings
// --------------------------------------------------

// Breakpoints
$breakpoints: (
  'xs': 480px,
  'sm': 768px,
  'md': 1025px,
  'lg': 1200px,
  'xl': 1400px
);

// Transition timing
$transition-time-default: .2s;
$transition-time-medium: .5s;
$transition-time-long: .8s;

// z-index indexes
$z-index: hero, content, main, topbar, menu;

// Sizes
$sidePadding: rem(40px);

$bulletbox-width: 214px;
$bulletbox-width-sm: 260px;

$box-default-spacing: 20px;
$box-default-spacing-md: 80px;
$box-default-spacing-xl: 120px;
