<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    {{/* Meta tags */}}
    {{ partial "site/meta.html" . }}

    {{/* <head> includes */}}
    {{ partial "site/styles.html" . }}

    {{/* Cookie consent */}}
    <script src="https://cloud.ccm19.de/app.js?apiKey=81ec389724f37c355fb7600b8b8efb44cdfffb5cedd3d646&amp;domain=63d849d2d314dc29722fb83e" referrerpolicy="origin"></script>
  </head>

  <body>
    <div class="pagelayout" id="start">
      {{/* Header/Topbar */}}
      {{ partial "site/header.html" . }}

      {{/* Content */}}
      <main class="o-main{{ if .Params.inverted }} o-main--inverted{{end}}" id="main">
        {{ partial "components/hero" . }}

        {{ block "main" . }}{{ end }}
      </main>

      {{/* Footer */}}
      {{ partial "site/footer.html" . }}
    </div>

    {{/* <body> includes */}}
    {{ partial "site/scripts.html" . }}
  </body>
</html>
