{{ define "main" }}
  {{ partial "components/intro-section" . }}

  {{/* Download lists section */}}
  <section class="o-main__section o-main__section--download-list">
    <div class="c-downloads">
      <div class="o-container o-container--no-right-pad">
        <div class="c-downloads__inner">
          {{/* Upper */}}
          <div class="c-downloads__section">
            <div class="o-2col-downloads">
              <div class="o-2col-downloads__one">
                <h2 class="c-downloads__headline c-headline c-headline--ci c-headline--sm">Aktionen und Aktuelles</h2>
                <ul class="c-downloads__list">
                  {{ range .Resources.Match "aktionen-aktuelles/*" }}
                    {{ partial "components/downloads__item" . }}
                  {{end}}
                </ul>
              </div>

              <div class="o-2col-downloads__two">
                <h2 class="c-downloads__headline c-headline c-headline--ci c-headline--sm">Produktinformationen</h2>
                <ul class="c-downloads__list">
                  {{ range .Resources.Match "produktinformationen/*" }}
                    {{ partial "components/downloads__item" . }}
                  {{end}}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}

