{{/* Set background texture */}}
{{ with .Resources.GetMatch "header.jpg" }}
  {{ $imageSmall := .Resize "500x" }}
  {{ $.Scratch.Set "bgTexture" $imageSmall.RelPermalink }}
{{ end }}

<div class="c-company-bullets">
  {{/* Background div so we can blur it */}}
  <div class="c-company-bullets__bg" style="background-image: url({{ $.Scratch.Get "bgTexture" }})"></div>

  <div class="o-container o-container--no-right-pad">
    <div class="c-company-bullets__inner">
      {{/* Bulletboxes */}}
      <div class="c-bulletbox c-bulletbox--0">
          <div class="c-bulletbox__bullet">
            {{ partial "util/svg" (dict "svg" "signet" "classes" "c-bulletbox__svg") }}
          </div>
      </div>

      {{ range $index, $_ := .Site.Data.company.bullets }}
        <div class="c-bulletbox c-bulletbox--{{add $index 1}}">
          {{/* Actual bullet */}}
          <div class="c-bulletbox__bullet">
            <h2 class="c-bulletbox__headline c-headline c-headline--inverted">{{ .title }}</h2>
          </div>

          <div class="c-bulletbox__contentbox">
            {{/* Bullet description */}}
            <div class="c-bulletbox__content">
              <div class="c-richtext">
                  {{ .content | markdownify }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</div>
