<div class="c-product">
  <div class="o-container o-container--medium">
    <div class="c-product__grid">

      {{/* Grid items */}}
      {{ range $index, $item := .Site.Data.product.items }}
        <div class="c-product__item">
          <div class="c-product__item-inner">
            {{/* Image */}}
            <div class="c-product__image">
              {{ with $.Resources.GetMatch .image }}
                {{ $imagePlaceholder := .Resize "50x" }}
                {{ $image := .Resize "300x" }}

                <img
                  alt="{{ $item.title }}"
                  data-src="{{ $image.RelPermalink }}"
                  src="{{ $imagePlaceholder.RelPermalink }}"
                  class="lazyload" />
              {{ end }}
            </div>

            <div class="c-product__contentbox">
              {{/* Headline */}}
              <strong class="c-product__headline c-headline c-headline--inverted">{{ .title }}</strong>

              {{/* Content */}}
              <div class="c-product__content c-richtext">
                {{ .content | markdownify }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}

    </div>
  </div>
</div>
