//
// Content box
// --------------------------------------------------

.c-box {
  background-color: $color-gray-f;
  color: $color-content;
  padding: rem(30px) rem($box-default-spacing);

  .o-main--inverted & {
    // green background for inverted section
    @include font-smoothing;
    background-color: $color-content-ci;
    color: $color-white;
  }
}

// Box in default 2-col
.c-box--default {
  padding: rem(110px) rem($box-default-spacing);

  @include mappy-bp(md) {
    padding: rem($box-default-spacing-md);
  }

  @include mappy-bp(xl) {
    padding: rem($box-default-spacing-xl);
  }
}


// Box in contact 2-col
.o-2col--contact .c-box {
  // ...
}
