//
// Buttons
// --------------------------------------------------

.c-button {
  @include button-reset;

  display: inline-flex;
  align-items: center;

  @include font-ci;
  @include font-smoothing;
  font-weight: $font-weight-regular;
  @include typi('button');
  text-transform: uppercase;
  background: $color-content-ci;
  color: $color-white;
  padding: rem(10px) rem(12px);
  white-space: nowrap;
  transition: all $transition-time-default;

  &:hover,
  &:focus {
    background-color: rgba($color-content-ci, .8);
  }

  span {
    transform: translateY(.05em);
  }

  svg {
    margin-left: .5em;
    height: rem(18px);
    width: rem(18px);
  }
}

.c-button--inverted {
  background: $color-white;
  color: $color-content-ci;
}
