//
// Catalog
// --------------------------------------------------

.o-main__section--catalog {
  @include mappy-bp(sm) {
    padding-left: 0;
  }
}

.c-catalog-section {
  background-color: $color-gray-f;

  @include mappy-bp(sm) {
    padding-left: rem($sidePadding);
  }
}

// View
.c-catalog-view {
  padding-left: $container-gutter;
  padding-right: $container-gutter;

  @include mappy-bp(sm) {
    display: flex;
    align-items: flex-start;
  }

  @include mappy-bp(md) {
    padding-left: 0;
    padding-right: 0;
    display: block;
  }

  @include mappy-bp(xl) {
    display: flex;
  }
}

.c-catalog-view__box {
  background-color: $color-white;
  padding: rem($box-default-spacing);
  max-width: rem(280px);
  position: relative;
  z-index: 20; // > catalog

  @include mappy-bp(sm) {
    flex-shrink: 0;
    max-width: rem(400px);
  }

  .c-button {
    margin-top: 1em;
  }
}

.c-catalog-view__catalog {
  margin-top: rem(-70px);
  position: relative;
  z-index: 10; // < box

  @include mappy-bp(xs) {
    margin-left: rem(20px);
  }

  @include mappy-bp(sm) {
    width: 100%;
    margin-top: rem(130px);
    margin-left: rem(-135px);
  }

  @include mappy-bp(md) {
    width: auto;
    margin-top: rem(-70px);
    margin-left: rem(80px);
  }

  @include mappy-bp(xl) {
    width: 100%;
    margin-top: rem(70px);
    margin-left: rem(-200px);
  }
}

// Order
.c-catalog-order {
  background-color: $color-white;
  padding: rem($container-gutter + $box-default-spacing);
  padding-bottom: 0;

  @include mappy-bp(md) {
    padding: rem($box-default-spacing-md);
    padding-bottom: 0;
  }

  @include mappy-bp(xl) {
    padding: rem($box-default-spacing-xl);
    padding-bottom: 0;
  }

  // Component spacing
  .c-fieldset {
    margin-top: rem(30px);

    @include mappy-bp(md) {
      margin-top: rem(40px);
    }
  }

  .c-button {
    margin-top: rem(40px);

    @include mappy-bp(md) {
      margin-top: rem(60px);
    }
  }
}

.c-catalog-order__dsgvo {
  opacity: .5;
  margin-top: rem(30px);
}

// 2 col layout for catalog section
.o-2col-catalog {
  @include mappy-bp(md) {
    display: flex;
  }
}

.o-2col-catalog__one {
  padding-bottom: rem(70px);

  @include mappy-bp(md) {
    width: 50%;
    padding-right: rem(50px);
    transform: translateY(rem(-200px));
  }
}

.o-2col-catalog__two {
  @include mappy-bp(md) {
    width: 50%;
    display: flex;
    align-items: flex-end;
  }
}

// Headline style
.c-catalog-view,
.c-catalog-order {
  .c-richtext {
    h1,
    h2,
    h3 {
      @extend .c-headline--sm;
      color: $color-content-ci;
    }
  }
}

// Catalog
$catalog-side-padding: 7%;
$catalog-top-padding: 8.5%;
$catalog-bottom-padding: 5%;

.c-catalog {
  width: 100%;
  max-width: rem(350px);

  @include mappy-bp(md) {
    max-width: rem(400px);
  }

  @include mappy-bp(lg) {
    max-width: rem(500px);
  }
}

.c-catalog__aspect-box {
  padding-bottom: (1980 / 1400) * 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.c-catalog__aspect-target {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;

  background-color: $color-content-ci;
  color: $color-white;
  @include font-smoothing;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
}

.c-catalog__img-wrapper {
  height: 100%;
  width: 100%;
  overflow: hidden; // for filter
  position: relative;
}

.c-catalog__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all $transition-time-medium;

  &.lazyload,
  &.lazyloading {
    filter: blur(30px);
  }
}

