//
// Home intro section
// --------------------------------------------------

.o-main__section--home-intro {
  @include mappy-bp(sm) {
    padding-left: 0;
  }
}

.c-home-intro {
  background-color: $color-gray-f;
  padding-top: 1px; // since negative top-margin
  padding-bottom: rem(70px);
  padding-left: $container-gutter;

  @include mappy-bp(sm) {
    padding-left: rem($sidePadding);
  }
}

.c-home-intro__box {
  margin-top: -71px; // +1px to reset the 1px padding-top

  position: relative;
  padding: rem($box-default-spacing);
  padding-top: rem($box-default-spacing * 2);
  padding-right: rem($container-gutter + $box-default-spacing);

  @include mappy-bp(xs) {
    padding-top: rem(60px);
    padding-bottom: rem(60px);
  }

  @include mappy-bp(sm) {
    margin-left: rem($container-gutter);
  }

  @include mappy-bp(md) {
    margin-top: -121px; // +1px to reset the 1px padding-top
    padding: rem($box-default-spacing-md);

    width: 50%;
    margin-left: auto;
  }

  @include mappy-bp(xl) {
    padding: rem($box-default-spacing-xl);
  }

  // background-color
  &::after {
    content: '';
    background-color: rgba($color-content-ci, .95);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 15; // > bg, < content
  }
}

// BG
.c-home-intro__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 10; // < content, < color

  // super special adjustments for intro box
  background-size: cover;
  background-position: right bottom;
  transform-origin: right bottom;
}

// Scroller
.c-home-intro__scroller {
  position: absolute;
  top: 0;
  left: rem($box-default-spacing);
  z-index: 18; // < content, > color
  transform: translateY(-50%);
  transition: transform $transition-time-default;

  @include mappy-bp(md) {
    left: rem($box-default-spacing-md);
  }

  @include mappy-bp(xl) {
    left: rem($box-default-spacing-xl);
  }

  &:hover,
  &:focus {
    @include mappy-bp(md) {
      transform: translateY(-40%);
    }
  }

  svg {
    display: block;
    height: rem(37px);
    width: rem(37px);
  }
}

// Content
.c-home-intro__content {
  position: relative;
  z-index: 20; // > bg, > color

  color: $color-white;
  @include font-smoothing;

  // Headline style
  .c-richtext {
    h1,
    h2,
    h3 {
      @extend .c-headline--sm;
    }
  }
}
