//
// Product
// --------------------------------------------------

.c-product {
  background-color: $color-content-ci;
  color: $color-white;
  @include font-smoothing;
}

$product-grid-gutter: 80px;

.c-product__grid {
  margin-left: rem(-$product-grid-gutter / 2);
  margin-right: rem(-$product-grid-gutter / 2);
  transform: translateY(rem(-30px));

  @include mappy-bp(sm) {
    display: flex;
    flex-wrap: wrap;
  }
}

.c-product__item {
  padding-left: rem($product-grid-gutter / 2);
  padding-right: rem($product-grid-gutter / 2);
  padding-bottom: rem($product-grid-gutter / 2);
  width: 100%;

  display: flex;
  justify-content: center;

  @include mappy-bp(sm) {
    width: 100 / 2 * 1%;
  }

  @include mappy-bp(md) {
    width: 100 / 3 * 1%;
    padding-bottom: rem($product-grid-gutter);
  }
}

$product-bubble-size: 240px;
$product-bubble-size-sm: 270px;
$product-bubble-size-lg: 300px;

.c-product__item-inner {
  width: rem($product-bubble-size);

  @include mappy-bp(sm) {
    width: rem($product-bubble-size-sm);
  }

  @include mappy-bp(lg) {
    width: rem($product-bubble-size-lg);
  }
}

.c-product__image {
  width: rem($product-bubble-size);
  height: rem($product-bubble-size);
  position: relative;

  // for blur filter
  overflow: hidden;
  border-radius: 50%;

  @include mappy-bp(sm) {
    width: rem($product-bubble-size-sm);
    height: rem($product-bubble-size-sm);
  }

  @include mappy-bp(lg) {
    width: rem($product-bubble-size-lg);
    height: rem($product-bubble-size-lg);
  }

  &::after {
    content: '';
    background-color: rgba($color-green-muted, .8);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
    z-index: 10;
  }

  img {
    border-radius: 50%;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all $transition-time-medium;

    &.lazyload {
      filter: blur(20px);
    }
  }
}

.c-product__contentbox {
  position: relative;
  z-index: 20; // > image & overlay
  padding-left: rem(20px);
  padding-right: rem(20px);
  margin-top: rem(-50px);
}

.c-product__headline {
  @include typi('product-headline');
}

.c-product__content {
  margin-top: .75em;
}
