//
// Socialwall section
// --------------------------------------------------

.o-main__section--socialwall {
  background-color: $color-white; // > parallax
  padding-top: rem(80px);

  @include mappy-bp(sm) {
    padding-left: 0;
  }
}

$socialwall-img-height: 400px;
$socialwall-img-height-md: 500px;

.c-socialwall__img-wrapper {
  height: rem($socialwall-img-height);
  overflow: hidden; // for filter

  @include mappy-bp(md) {
    height: rem($socialwall-img-height-md);
  }
}

.c-socialwall__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: all $transition-time-medium;

  &.lazyload,
  &.lazyloading {
    filter: blur(30px);
  }
}

.c-socialwall__wall {
  padding: rem(50px) rem($sidePadding);

  @include mappy-bp(sm) {
    padding-right: 0;
  }
}


// widget overrides
.c-socialwall {
  .crt-grid-post-v2 .crt-post-fullname,
  .crt-post-v2 .crt-post-fullname {
    padding-left: 17px;
    padding-right: 17px;
  }

  .crt-post-v2 .crt-post-content-text {
    line-height: inherit;
    text-align: left;
  }
}

.crt-popup-wrapper .crt-popup .crt-popup-header .crt-post-name {
  white-space: normal !important;
}

