//
// Topbar
// --------------------------------------------------

.c-topbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: index($z-index, topbar);

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: $color-white;

    @include mappy-bp(sm) {
      width: 50%;
    }
  }
}

.c-topbar--inverted::after {
  background-color: $color-green-overlayed;
}

.c-topbar__container {
  position: relative;
  z-index: 10;
  padding-top: rem(50px);
  padding-bottom: rem(50px);
}

.c-topbar__content {
  display: flex;
  align-items: center;
}

.c-topbar__logo {
  height: rem(50px);
  width: auto;
  max-width: 100%;
  margin-right: rem(80px);

  svg {
    height: 100%;
    width: 100%;
  }
}

.c-topbar__menu {
  margin-left: auto;

  height: rem(50px);
  width: rem(50px);
  display: block;

  svg {
    height: 100%;
    width: 100%;
  }
}
