//
// Typography components
// --------------------------------------------------

// Headlines
.c-headline {
  @include font-ci;
  text-transform: uppercase;
  word-wrap: break-word;
  display: block;
  hyphens: auto;
}

.c-headline--default {
  @include typi('headline--default');
}
