<footer class="c-footer">
  <div class="o-container">
    <div class="c-footer__inner">
      {{/* Footer content */}}
      <div class="c-footer__cols">
        <div class="c-footer__col1">
          {{/* Address 1 */}}
          <address class="c-footer__address c-richtext">
            <strong class="c-footer__address-headline">grashobber GmbH</strong><br />
            Blütenweg 8<br />
            D-72351 Geislingen<br />
            <strong>T</strong> +49 7428 / 9179920<br />
            <a href="mailto:info@grashobber.de">info@grashobber.de</a><br />
            <a href="https://www.grashobber.de">www.grashobber.de</a>
          </address>

          {{/* Address 2 */}}
          <address class="c-footer__address c-richtext">
            <strong class="c-footer__address-headline">grashobber Schweiz GmbH</strong><br />
            Lerchenfeldstraße 3<br />
            CH-9014 St.Gallen<br />
            <strong>T</strong> +41 712446262<br />
            <a href="mailto:info@grashobber.ch">info@grashobber.ch</a><br />
            <a href="https://www.grashobber.ch">www.grashobber.ch</a>
          </address>
        </div>

        <div class="c-footer__col2">
          <nav class="c-footer__nav">
            {{/* Meta menu */}}
            <ul class="c-footer__nav-list">
              <li><a href="{{ ref . "impressum/index.md" }}">Impressum</a></li>
              <li><a href="{{ ref . "datenschutz/index.md" }}">Datenschutz</a></li>
              <li><a href="{{ ref . "agb/index.md" }}">AGB</a></li>
            </ul>
          </nav>
        </div>
      </div>

      {{/* Toplink */}}
      <a href="#start" class="c-footer__toplink" data-scroll-top>
        {{ partial "util/svg" (dict "svg" "top") }}
        <span class="c-footer__toplink-label">
          <span>Nach oben</span>
        </span>
      </a>
    </div>
  </div>
</footer>
