{{ define "main" }}
  <div class="c-home">
    {{/* Get headless home bundle */}}
    {{ $bundle := .Site.GetPage "page" "home" }}

    {{/* Intro */}}
    <div class="c-home__intro">
      {{ with $bundle.Resources.GetMatch "intro.md" }}
        {{ .Content }}
      {{ end }}
    </div>

    {{/* Catalog section */}}
    <div class="c-home__catalog">
      {{/* Catalog view */}}
      {{ with $bundle.Resources.GetMatch "catalog-view.md" }}
        {{ .Content }}
      {{ end }}

      {{/* Catalog order */}}
      {{ with $bundle.Resources.GetMatch "catalog-view.md" }}
        {{ .Content }}
      {{ end }}
    </div>

    {{/* Social wall */}}
    <div class="c-home__social">
      {{ with $bundle.Resources.GetMatch "socialwall.md" }}
        {{ .Content }}
      {{ end }}
    </div>

    {{/* Newsletter */}}
    <div class="c-home__newsletter">
      {{ with $bundle.Resources.GetMatch "newsletter.md" }}
        {{ .Content }}
      {{ end }}
    </div>
  </div>
{{ end }}

