{{/* Catalog section */}}

{{/* Get headless home bundle which holds the content */}}
{{ $bundle := .Site.GetPage "page" "home" }}

<section class="o-main__section o-main__section--catalog">
  <div class="c-catalog-section">
    <div class="o-container o-container--no-pad">
      <div class="o-2col-catalog">
        <div class="o-2col-catalog__one">
          {{/* Catalog view */}}
          <div class="c-catalog-view">
            {{/* Text */}}
            <div class="c-catalog-view__box">
              {{ with $bundle.Resources.GetMatch "catalog-view.md" }}
                <div class="c-richtext">
                  {{ .Content }}
                </div>

                <a href="#" class="c-button c-button">
                  <span>{{.Params.buttontext}}</span>
                  {{ partial "util/svg" (dict "svg" "pfeil-weiss") }}
                </a>
              {{ end }}
            </div>

            {{/* Catalog */}}
            <div class="c-catalog-view__catalog">
              <div class="c-catalog">
                <div class="c-catalog__aspect-box">
                  <div class="c-catalog__aspect-target">
                    <div class="c-catalog__bg" style='background-image: url({{ $.Scratch.Get "textureHeaderImage" }})'></div>

                    <div class="c-catalog__content">
                      {{/* Logo */}}
                      <div class="c-catalog__logo">
                        {{ partial "util/svg" (dict "svg" "logo-weiss") }}
                      </div>

                      {{/* Title */}}
                      <div class="c-catalog__title">
                        {{ partial "util/svg" (dict "svg" "derneue") }}
                        <span class="u-invisible">Der Neue</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="o-2col-catalog__two">
          {{/* Catalog order */}}
          <div class="c-catalog-order">
            <form class="c-catalog-order__form" action="https://formspree.io/urs@21sieben.de" method="POST">
              {{ with $bundle.Resources.GetMatch "catalog-order.md" }}
                {{/* Intro */}}
                <div class="c-richtext">
                  {{ .Content }}
                </div>

                {{/* Form elements */}}
                <fieldset class="c-fieldset">
                  <input class="c-fieldset__input" type="text" name="name" required placeholder="Name">
                  <input class="c-fieldset__input" type="text" name="street" required placeholder="Straße, Hausnummer">
                  <input class="c-fieldset__input" type="text" name="city" required placeholder="Postleitzahl, Ort">
                  <input class="c-fieldset__input" type="email" name="email" required placeholder="E-Mail">
                </fieldset>

                <input type="hidden" name="_subject" value="Neue Katalogbestellung auf grashobber.de" />
                <input type="hidden" name="_next" value="http://www.grashobber.de/" />
                <input type="hidden" name="_language" value="de" />
                <input type="text" name="_gotcha" style="display:none" />

                {{/* Submit */}}
                <button type="submit" class="c-button c-button">
                  <span>{{.Params.buttontext}}</span>
                  {{ partial "util/svg" (dict "svg" "pfeil-weiss") }}
                </button>
              {{ end }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
