{{/* Catalog section */}}

{{/* Get headless home bundle which holds the content */}}
{{ $bundle := .Site.GetPage "page" "home" }}
{{ with $bundle.Resources.GetMatch "catalog-view-2.md" }}
  <section class="o-main__section o-main__section--catalog">
    <div class="c-catalog-section c-catalog-section--2">
      <div class="o-container o-container--no-pad">
        <div class="o-2col-catalog__zero" data-reveal>
          {{ with $bundle.Resources.GetMatch .Params.image2 }}
            {{ $imagePlaceholder := .Resize "100x" }}
            {{ $imageSmall := .Resize "600x" }}
            {{ $imageMedium := .Resize "800x" }}
            {{ $imageBig := .Resize "1000x" }}

            <div class="c-catalog__img2-wrapper">
              <img
                alt=""
                data-srcset="{{ $imageSmall.RelPermalink }} 600w, {{ $imageMedium.RelPermalink }} 800w, {{ $imageBig.RelPermalink }} 1000w"
                data-src="{{ $imageMedium.RelPermalink }}"
                src="{{ $imagePlaceholder.RelPermalink }}"
                class="c-catalog__img2 lazyload" />
            </div>
          {{ end }}
        </div>

        <div class="o-2col-catalog">
          <div class="o-2col-catalog__one">
            {{/* Catalog view */}}
            <div class="c-catalog-view" data-reveal>
              {{/* Text */}}
              <div class="c-catalog-view__box">
                <div class="c-richtext">
                  {{ .Content }}
                </div>

                <a href="{{ .Params.buttonurl }}" target="_blank" class="c-button">
                  <span>{{ .Params.buttontext }}</span>
                  {{ partial "util/svg" (dict "svg" "pfeil-weiss") }}
                </a>
              </div>

              {{/* Catalog */}}
              <div class="c-catalog-view__catalog">
                <div class="c-catalog">
                  <div class="c-catalog__aspect-box">
                    <div class="c-catalog__aspect-target">
                      {{/* Catalog image */}}
                      {{ with $bundle.Resources.GetMatch .Params.image }}
                        {{ $imagePlaceholder := .Resize "100x" }}
                        {{ $imageSmall := .Resize "400x" }}
                        {{ $imageMedium := .Resize "600x" }}

                        <div class="c-catalog__img-wrapper">
                          <img
                            alt="{{ .Title }}"
                            data-srcset="{{ $imageSmall.RelPermalink }} 400w, {{ $imageMedium.RelPermalink }} 600w"
                            data-src="{{ $imageMedium.RelPermalink }}"
                            src="{{ $imagePlaceholder.RelPermalink }}"
                            class="c-catalog__img lazyload" />
                        </div>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="o-2col-catalog__two" data-reveal>
            {{/* Catalog order */}}
            <div class="c-catalog-order">
              <form class="c-catalog-order__form" action="https://formspree.io/f/moqggvlo" method="POST">
                {{ with $bundle.Resources.GetMatch "catalog-order.md" }}
                  {{/* Intro */}}
                  <div class="c-richtext">
                    {{ .Content }}
                  </div>

                  {{/* Form elements */}}
                  <fieldset class="c-fieldset">
                    <input class="c-fieldset__input" type="text" name="name" required placeholder="Name">
                    <input class="c-fieldset__input" type="text" name="company" required placeholder="Firma">
                    <input class="c-fieldset__input" type="text" name="street" required placeholder="Straße, Hausnummer">
                    <input class="c-fieldset__input" type="text" name="city" required placeholder="Postleitzahl, Ort">
                    <input class="c-fieldset__input" type="email" name="email" required placeholder="E-Mail">
                  </fieldset>

                  {{/* DSGVO hint */}}
                  <div class="c-catalog-order__dsgvo c-richtext c-richtext--sm">
                    {{ .Params.dsgvo | markdownify }}
                  </div>

                  <input type="hidden" name="_subject" value="Neue Katalogbestellung (DER DICKE) auf grashobber.de" />
                  <input type="hidden" name="_next" value="http://www.grashobber.de/" />
                  <input type="hidden" name="_language" value="de" />
                  <input type="text" name="_gotcha" style="display:none" />

                  {{/* Submit */}}
                  <button type="submit" class="c-button c-button">
                    <span>{{ .Params.buttontext }}</span>
                    {{ partial "util/svg" (dict "svg" "pfeil-weiss") }}
                  </button>
                {{ end }}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
