{{/* Intro */}}

{{/* Get headless home bundle which holds the content */}}
{{ $bundle := .Site.GetPage "page" "home" }}

<section class="o-main__section o-main__section--home-intro">
  <div class="c-home-intro">
    <div class="o-container o-container--no-pad">
      <div class="c-home-intro__box" data-reveal>
        {{/* Background image */}}
        <div class="c-home-intro__bg" style='background-image: url({{ $.Scratch.Get "textureHeaderImage" }})'></div>

        {{/* Scroll arrow */}}
        <a href="#intro" class="c-home-intro__scroller" data-scroll-content>
          {{ partial "util/svg" (dict "svg" "scroll") }}
        </a>

        {{/* Content */}}
        <div class="c-home-intro__content" id="intro">
          {{ with $bundle.Resources.GetMatch "intro.md" }}
            <div class="c-richtext">
              {{ .Content }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
