{{/* Intro */}}

{{/* Get headless home bundle which holds the content */}}
{{ $bundle := .Site.GetPage "page" "home" }}

<section class="o-main__section o-main__section--home-intro">
  <div class="c-home-intro">
    <div class="o-container o-container--no-pad">
      <div class="c-home-intro__box">
        {{/* Background image */}}
        <div class="c-home-intro__bg" style='background-image: url({{ $.Scratch.Get "textureHeaderImage" }})'></div>

        {{/* Content */}}
        <div class="c-home-intro__content">
          {{ with $bundle.Resources.GetMatch "intro.md" }}
            <div class="c-richtext">
              {{ .Content }}
            </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
