{{/* Social wall */}}

{{/* Get headless home bundle which holds the content */}}
{{ $bundle := .Site.GetPage "page" "home" }}
<section class="o-main__section o-main__section--socialwall">
  <div class="c-socialwall" data-reveal>
    {{ with $bundle.Resources.GetMatch "socialwall.md" }}
      {{/* Store title */}}
      {{ $.Scratch.Set "title" .Params.title }}

      {{/* Top/BG image */}}
      {{ with $bundle.Resources.GetMatch "socialwall.jpg" }}
        {{ $imagePlaceholder := .Resize "100x" }}
        {{ $imageSmall := .Resize "500x" }}
        {{ $imageMedium := .Resize "1000x" }}
        {{ $imageBig := .Resize "2000x" }}

        <div class="c-socialwall__img-wrapper">
          <img
            alt='{{ $.Scratch.Get "title" }}'
            data-srcset="{{ $imageSmall.RelPermalink }} 500w, {{ $imageMedium.RelPermalink }} 1000w, {{ $imageBig.RelPermalink }} 2000w"
            data-src="{{ $imageMedium.RelPermalink }}"
            src="{{ $imagePlaceholder.RelPermalink }}"
            class="c-socialwall__img lazyload" />
        </div>
      {{ end }}
    {{ end }}

    <div class="c-socialwall__wall">
      <div class="o-container o-container--no-pad">
        <div id="grashobber-feed"><a href="https://curator.io" target="_blank" class="crt-logo crt-tag">Powered by Curator.io</a></div>
      </div>
    </div>
  </div>
</section>
