// Sections

@use "sass:math";

$company-section-height: 430px; // totally magic number, based on headline height & textbox content height

.o-main__section--company {
  @include mappy-bp(md) {
    position: absolute;
    top: rem($hero-height-md); // hero height
    left: 0;
    right: 0;

    &::after {
      background-color: transparent;
    }
  }
}

.o-main__section--company-bullets {
  @include mappy-bp(md) {
    z-index: index($z-index, content-minor);
  }
}

//
// Bulletboxes
// --------------------------------------------------

$bulletbox-side-spacing: 100px;

// Wrapper
// --------------------------------------------------
.c-company-bullets {
  position: relative; // for background

  background-color: $color-content-ci;
  color: $color-white;
  @include font-smoothing;
  padding-bottom: rem(85px); // since phytosanitary section will overlap

  @include mappy-bp(md) {
    padding-top: rem($company-section-height);
    padding-bottom: 0;
  }
}

.c-company-bullets__bg {
  // background-image texture should be set in template (same as header image)
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15;
  filter: blur(10px);
}

.c-company-bullets__inner {
  transform: translateY(rem(-30px));
  margin-left: rem(20px); // box padding
  margin-right: rem(20px); // box padding

  @include mappy-bp(md) {
    transform: translateY(rem(-$bulletbox-width-sm));

    // right-align the whole bulletbox section
    max-width: calc(50% + #{rem($bulletbox-width-sm + $bulletbox-side-spacing)}); // 100px = padding
    margin-left: auto;
    margin-right: 0;
  }
}

// Boxes
// --------------------------------------------------
.c-bulletbox {
  position: relative;

  @include mappy-bp(sm) {
    display: flex;
    align-items: flex-end;
  }

  &:not(:last-of-type) {
    padding-bottom: rem(30px);

    @include mappy-bp(sm) {
      padding-bottom: rem(90px);
    }

    // more padding for first bullet
    &.c-bulletbox--0 {
      padding-bottom: rem(80px);

      @include mappy-bp(sm) {
        padding-bottom: rem(90px);
      }
    }
  }

  // track
  &::after {
    content: '';
    position: absolute;
    left: rem(floor(($bulletbox-width + 30px) * 0.5));
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: rgba($color-white, .3);

    @include mappy-bp(sm) {
      background-color: $color-white;
      left: rem(floor($bulletbox-width-sm * 0.5));
    }
  }

  // disable track for last item on mobile
  &:last-of-type::after {
    display: none;

    @include mappy-bp(sm) {
      display: block;
    }
  }

  // start track after bullet on first item
  &:first-of-type::after {
    @include mappy-bp(sm) {
      top: $bulletbox-width-sm;
    }
  }
}

.c-bulletbox__bullet {
  position: relative;
  z-index: 10; // > track
  width: rem($bulletbox-width);
  height: rem($bulletbox-width);
  margin-left: rem(15px);

  border: 1px solid rgba($color-white, .3);
  background-clip: padding-box;
  border-radius: 50%;
  flex-shrink: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @include mappy-bp(sm) {
    border-color: $color-white;
    width: rem($bulletbox-width-sm);
    height: rem($bulletbox-width-sm);
    margin-bottom: rem(30px);
    margin-left: 0;
  }

  .c-bulletbox--0 & {
    border: 0 none;
  }

  .c-bulletbox--1 & {
    background-color: $color-green-light;
  }

  .c-bulletbox--2 & {
    background-color: $color-green-blue;
  }

  .c-bulletbox--3 & {
    background-color: $color-green-muted;
  }

  .c-bulletbox--4 & {
    background-color: $color-green-dark;
  }
}

.c-bulletbox__svg {
  height: 100%;
  width: 100%;
}

.c-bulletbox__contentbox {
  position: relative;
  z-index: 10; // > track
  margin-top: rem(-30px);

  @include mappy-bp(sm) {
    padding-bottom: rem(30px);
    margin-right: rem($box-default-spacing);

    // bottom border
    &::after {
      content: '';
      background-color: $color-white;
      height: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
      left: rem(math.div($bulletbox-width-sm, -2));
    }
  }

  @include mappy-bp(md) {
    margin-right: rem($box-default-spacing-md);
  }

  @include mappy-bp(xl) {
    margin-right: rem($box-default-spacing-xl);
  }
}

.c-bulletbox__content {
  // should match .c-box--default padding
  @include mappy-bp(sm) {
    margin-left: auto;
    width: calc(100% - #{rem($bulletbox-side-spacing)});
    padding-left: rem($box-default-spacing);
  }

  @include mappy-bp(md) {
    padding-left: rem($box-default-spacing-md);
  }

  @include mappy-bp(xl) {
    padding-left: rem($box-default-spacing-xl);
  }
}

.c-bulletbox__headline {
  white-space: nowrap;
  @include typi('bulletbox');
  transform-origin: center center;
}
