// Contact
// --------------------------------------------------

.o-main__section--contact {
  color: $color-white;
  @include font-smoothing;

  // based on default section
  &::after {
    content: '';
    background-color: $color-green-overlayed;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -10;
    top: rem(100px);

    @include mappy-bp(md) {
      top: rem(120px);
    }
  }
}

// Areas section
.o-main__section--contact-areas {
  background-color: $color-green-overlayed;
  color: $color-white;
  @include font-smoothing;
}

// Area Map
.c-contact-map {
  transform: translate(-30%, -10%);
  min-width: rem(400px);
  max-width: rem(600px);

  @include mappy-bp(md) {
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-30%, 10%);
    width: calc(80% - #{rem(100px)});
    max-width: rem(1200px);
  }
}

.c-contact-map__aspect-box {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
  position: relative;
}

.c-contact-map__aspect-target {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.c-contact-map__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  border-radius: 50%;
  background-size: cover;
  background-position: center;
  //transform: translateX(-30%);

  // background-color
  &::after {
    content: '';
    background-color: rgba($color-content-ci, .85);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    border-radius: 50%;
  }
}

.c-contact-map__map {
  position: relative;
  z-index: 10; // > bg
  height: 80%;
  width: 80%;
  transform: translateX(10%);

  @include mappy-bp(xl) {
    height: 70%;
    width: 70%;
    transform: none;
  }

  img {
    height: 100%;
    width: 100%;
  }
}

// Area Text
.c-contact-areas {
  background-color: rgba($color-white, .05);

  padding-top: rem(120px);
  padding-bottom: rem(60px);
  margin-top: rem(-100px);

  @include mappy-bp(md) {
    position: relative;
    z-index: 10; // > map
    padding-top: 0;
    margin-top: 0;
  }
}


.c-contact-areas__headline + .c-contact-areas__areas {
  margin-top: rem(40px);

  @include mappy-bp(md) {
    margin-top: rem(60px);
  }
}

.c-contact-areas__box {
  padding: rem($box-default-spacing);

  @include mappy-bp(md) {
    padding: rem($box-default-spacing-md);

    width: 50%;
    margin-left: auto;
  }

  @include mappy-bp(xl) {
    padding: rem($box-default-spacing-xl);
  }
}

.c-contact-areas__headline {
  @include mappy-bp(md) {
    margin-top: rem(-206px);
  }

  @include mappy-bp(xl) {
    margin-top: rem(-246px);
  }
}

.c-contact-areas__area {
  & + & {
    margin-top: rem(40px);
  }

  @include mappy-bp(md) {}
  position: relative;
}

.c-contact-areas__name {
  margin-bottom: rem(15px);
  opacity: .6;

  @include mappy-bp(md) {
    white-space: nowrap;
    text-align: right;
    margin-bottom: 0;
    position: absolute;
    right: 100%;
    margin-right: rem(30px);
  }
}

// Address
.c-contact-address {
  margin-top: rem(100px);

  @include mappy-bp(xl) {
    margin-top: rem(200px)
  }

  @include mappy-bp(xxl) {
    margin-top: rem(340px)
  }
}

.c-richtext .c-contact-address__headline {
  @extend .c-headline--xs;
  display: inline;
  font-weight: $font-weight-regular;
}


.c-richtext.c-contact-address {
  p {
    &:not(:last-child) {
      margin-bottom: .5em;
    }

    &:not(:first-child) {
      margin-top: .5em;
    }
  }
}
