// Newsletter section
// --------------------------------------------------

.o-main__section--newsletter {
  @include mappy-bp(sm) {
    padding-left: 0;
  }
}

.c-newsletter {
  position: relative; // for background
  background-color: $color-content-ci;
  color: $color-white;
  @include font-smoothing;

  @include mappy-bp(sm) {
    padding-left: rem($sidePadding);
  }
}

.c-newsletter__bg {
  // background-image texture should be set in template (same as header image)
  background-size: cover;
  background-position: left bottom;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .15;
  filter: blur(10px);
}

.c-newsletter__container {
  position: relative;
  z-index: 10; // > bg
}

.c-newsletter__headline {
  margin-left: rem($container-gutter + $box-default-spacing);
  margin-right: rem($container-gutter + $box-default-spacing);

  @include mappy-bp(md) {
    margin-left: rem($box-default-spacing);
    margin-right: rem($box-default-spacing);
  }
}

// Form
.c-newsletter__social {
  padding-left: rem($container-gutter + $box-default-spacing);
  padding-right: rem($container-gutter + $box-default-spacing);

  @include mappy-bp(md) {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
  }
}

// 2 col layout for newsletter section
.o-2col-newsletter {
  padding-top: rem(80px);
  padding-bottom: rem(80px);

  @include mappy-bp(md) {
    display: flex;
    padding-top: rem(120px);
    padding-bottom: rem(120px);
  }
}

.o-2col-newsletter__one {
  padding-bottom: rem(70px);

  @include mappy-bp(md) {
    width: 50%;
    padding-bottom: 0;
    padding-right: rem(50px);
  }
}

.o-2col-newsletter__two {
  @include mappy-bp(md) {
    width: 50%;
  }
}
