// Richtext
// --------------------------------------------------

.c-richtext {
  img {
    max-width: 100%;
    height: auto;
    display: block;

    &:not(:first-child) {
      margin-bottom: 4em;
    }

    &:not(:last-child) {
      margin-top: 4em;
    }
  }

  &:not(.c-richtext--strong-light) strong {
    @extend .c-headline;
    @extend .c-headline--xxs;
    display: inline;
    font-weight: $font-weight-regular;
  }

  &.c-richtext--strong-light strong {
    color: $color-content-ci;
  }

  p {
    margin-bottom: 0;
  }

  p,
  table {
    &:not(:last-child) {
      margin-bottom: 1em;
    }

    &:not(:first-child) {
      margin-top: 1em;
    }
  }

  a {
    color: $color-content-ci;
    transition: all $transition-time-default;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }

  h1,
  h2,
  h3 {
    @extend .c-headline;
    @extend .c-headline--richtext;
  }

  em {
    font-style: italic;
  }
}

.c-richtext--sm {
  @include typi(sm);
}

.c-richtext--inverted {
  /* stylelint-disable no-descending-specificity */
  a {
    color: $color-white;

    &:hover,
    &:focus {
      opacity: .8;
    }
  }
}
