// Social icons
// --------------------------------------------------

.c-social-icons {
  @include mappy-bp(sm) {
    display: flex;
  }
}

.c-social-icons--stacked {
  display: block;
}

.c-social-icons__item {
  & + & {
    margin-top: rem(20px);

    @include mappy-bp(sm) {
      margin-top: 0;
      margin-left: rem(60px);

      .c-social-icons--stacked & {
        margin-top: rem(20px);
        margin-left: 0;
      }
    }
  }
}

.c-social-icons__link {
  @include font-ci;
  text-transform: uppercase;
  @include typi('socialicons');
  display: flex;
  align-items: center;
  transition: all $transition-time-default;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    opacity: .8;

    .c-menu & {
      opacity: $menu-hover-opacity;
    }
  }

  svg {
    width: rem(50px);
    height: rem(50px);
  }

  span {
    margin-left: rem(15px);
  }
}
