// Team
// --------------------------------------------------

.c-team {
  @include mappy-bp(md) {
    background-color: $color-gray-f;
  }
}

.c-team__inner {
  background-color: $color-gray-f;
  padding-left: rem($box-default-spacing);
  padding-right: rem($box-default-spacing);

  @include mappy-bp(md) {
    background-color: transparent;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: rem(80px);
  }
}

.c-team__headline {
  margin-bottom: rem(20px);

  @include mappy-bp(md) {
    margin-bottom: rem(40px);
  }
}


// Members list
.c-team-members--inverted,
.c-team-member--inverted {
  color: $color-white;
  @include font-smoothing;
}

// Team member
.c-team-member {
  display: flex;
  flex-direction: column;

  @include mappy-bp(xs) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: rem(430px);
  }

  & + & {
    margin-top: rem(30px);

    @include mappy-bp(md) {
      margin-top: rem(40px);
    }
  }

  a {
    color: inherit;
    transition: all $transition-time-default;

    &:hover,
    &:focus {
      color: $color-content-ci;
    }
  }
}

.c-team-members--inverted .c-team-member,
.c-team-member--inverted {
  a {
    color: inherit;
  }
}

.c-team-member__content-wrapper {
  order: 20;

  @include mappy-bp(xs) {
    order: 10;
  }
}

.c-team-member__image-wrapper {
  order: 10;
  margin-bottom: rem(10px);

  @include mappy-bp(xs) {
    margin-bottom: 0;
    margin-left: rem(20px);
    order: 20;
  }
}

.c-team-member__image {
  display: block;
  width: rem(114px);
  height: rem(114px);

  @include mappy-bp(sm) {
    width: rem(144px);
    height: rem(144px);
  }
}

.c-team-member__positions {
  margin-bottom: 1em;
}

.c-team-member__phone,
.c-team-member__mobile {
  strong {
    @extend .c-headline;
    font-size: 1em;
    display: inline;
    font-weight: $font-weight-regular;
  }
}


// 2 col layout for team
.o-2col-team {
  @include mappy-bp(md) {
    display: flex;
  }
}

.o-2col-team__one {
  padding-bottom: rem(80px);

  @include mappy-bp(md) {
    width: 50%;
    padding-bottom: 0;
    padding-right: rem(50px);
  }
}

.o-2col-team__two {
  display: flex;
  flex-direction: column;

  > * {
    width: 100%;
  }

  @include mappy-bp(md) {
    width: 50%;
    padding-left: rem($box-default-spacing-md);
    padding-right: rem($box-default-spacing-md);
    padding-top: 0;
  }

  @include mappy-bp(xl) {
    padding-left: rem($box-default-spacing-xl);
    padding-right: rem($box-default-spacing-xl);
  }
}

// Career section
.c-team-career {
  flex-grow: 1;

  position: relative;
  padding-top: rem(80px);
  padding-bottom: rem(80px);
  padding-right: rem($box-default-spacing);

  @include mappy-bp(md) {
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;

    margin-left: rem($box-default-spacing * -1);

    @include mappy-bp(md) {
      margin-left: rem($box-default-spacing-md * -1);
      margin-right: rem($box-default-spacing-md * -1);
      margin-bottom: rem(-80px);
    }


    @include mappy-bp(xl) {
      margin-left: rem($box-default-spacing-xl * -1);
      margin-right: rem($box-default-spacing-xl * -1);
    }
  }

  .c-team-members + & {
    margin-top: rem(80px);
  }
}

.c-team-career__inner {
  position: relative;
  z-index: 10;

  @include mappy-bp(xs) {
    max-width: rem(430px);
  }
}

.c-team-career__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: rem(40px);

  @include mappy-bp(xl) {
    column-gap: rem(80px);
  }
}

.c-team-career__image-wrapper {
  display: none;
  flex-shrink: 0;

  @include mappy-bp(xs) {
    display: block;
  }
}

.c-team-career__image {
  display: block;
  width: rem(144px);
  height: rem(144px);
}

.c-team-career__content {
  margin-top: rem(40px);

  * + * {
    margin-top: rem(30px);
  }
}
