//
// Layout
// --------------------------------------------------

.o-main {
  position: relative;
  z-index: index($z-index, main);
}

.o-main__section {
  position: relative;
  z-index: index($z-index, content);

  @include mappy-bp(sm) {
    padding-left: #{$sidePadding};
    padding-right: #{$sidePadding};
  }
}

.o-main__section--default {
  margin-top: rem(-100px);

  @include mappy-bp(sm) {
    margin-top: rem(-120px);
  }

  // grey background for whole section
  @include mappy-bp(md) {
    &::after {
      content: '';
      background-color: $color-gray-f;
      position: absolute;
      left: #{$sidePadding};
      right: #{$sidePadding};
      bottom: 0;
      z-index: -10;
      top: rem(120px);

      .o-main--inverted & {
        // green background for inverted section
        background-color: $color-content-ci;
      }
    }
  }
}

// 2 col layout
.o-2col {
  position: relative;

  @include mappy-bp(md) {
    display: flex;
  }
}

.o-2col__one {
  position: absolute;
  bottom: calc(100% - #{rem(70px)});
  left: rem(20px);
  right: rem(20px);

  @include mappy-bp(md) {
    position: static;
    left: auto;
    right: auto;
    bottom: auto;

    width: 50%;
    padding-right: rem(50px);
  }
}

.o-2col__two {
  @include mappy-bp(md) {
    width: 50%;
  }
}
